<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="EBAO_LOG_HOME">$${sys:app.loghome:-logs}</Property>
    <Property name="app.name">salesbs-config</Property>
    <Property name="app.profile">$${sys:spring.profiles.active:-dev-test}</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS Z}] %5p %t [${app.profile}] [${app.name}] [${PID:-0}] [%X] %c{1.} 0 :%n%m%n%xEx" />
    </Console>

    <RollingRandomAccessFile name="limoRuntimeAppender" fileName="${EBAO_LOG_HOME}/limo-runtime.log"
      immediateFlush="false" filePattern="${EBAO_LOG_HOME}/limo-runtime-%d{yyyy-MM-dd}-%i.log.zip">
      <PatternLayout
        pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS Z}] %5p %t [${app.profile}] [${app.name}] [${PID:-0}] [%X] %c{1.} 0 :%n%m%n%xEx" />
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB" />
      </Policies>
      <DefaultRolloverStrategy max="20" compressionLevel="1">
        <Delete basePath="${EBAO_LOG_HOME}/" maxDepth="2">
          <IfFileName glob="*.log.zip" />
          <IfLastModified age="10d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" />
      <AppenderRef ref="limoRuntimeAppender" />
    </Root>

    <AsyncLogger name="com.flywolf" level="info" additivity="false">
      <AppenderRef ref="limoRuntimeAppender" />
      <AppenderRef ref="Console" />
    </AsyncLogger>

  </Loggers>
</Configuration>